body {
font-family: Times New Roman, sans-serif;
margin: 20px;
background-color: #2241a6;
}
header {
background: #c84a4a;
padding: 10px;
text-align: center;
}
nav a {
margin: 0 10px;
text-decoration: none;
color: #333;
}
form {
background: #db5e5e;
padding: 15px;
border: 1px solid #ccc;
}
